.form-horizontal
  %h1= "Edit #{@space.name}"
  %input{type: 'hidden', value: @space.errors.keys.map{|k| "#space_#{k}" }.join(','), id: 'errors'}
  = simple_form_for @space do |f|
    .col-md-offset-2
      = f.error_notification

    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'} Space Name
      .col-sm-6
        = f.text_field :name, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'} Address
      .col-sm-6
        = f.text_field :address, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'} City
      .col-sm-6
        = f.text_field :city, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'} Space Name
      .col-sm-6
        = f.input :province, collection: Region.provinces, label: false
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'} Space Contact
      .col-sm-6
        = f.text_field :contact_name, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'} Contact Email
      .col-sm-6
        = f.text_field :contact_email, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'} Contact Phone Number
      .col-sm-6
        = f.text_field :contact_number, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'} Content
      .col-sm-6
        = f.text_field :content, class: 'form-control', label: false, placeholder: ""
    .form-group
      .col-sm-offset-4.col-sm-8
        = f.submit "Save", class: "btn btn-default btn-large btn-primary" 

:coffeescript
  $ ->
    $('#space_content').val("")
    $('#space_province').addClass('form-control')

    all_errors = $('#errors').val().split(',')
    for error in all_errors
      $(error).parent().parent().addClass('has-error')



