.form-horizontal
  %h1 Create New Space
  = simple_form_for @space do |f|
    = f.error_notification
    - #TODO list errors here
    .form-group
      %label{class: 'col-sm-2 control-label'} Space Name
      .col-sm-10
        = f.text_field :name, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 control-label'} Address
      .col-sm-10
        = f.text_field :address, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 control-label'} City
      .col-sm-10
        = f.text_field :city, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 control-label'} Space Name
      .col-sm-10
        = f.input :province, collection: Region.provinces, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 control-label'} Space Contact
      .col-sm-10
        = f.text_field :contact_name, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 control-label'} Contact Email
      .col-sm-10
        = f.text_field :contact_email, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 control-label'} Contact Phone Number
      .col-sm-10
        = f.text_field :contact_number, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 control-label'} Content
      .col-sm-10
        = f.text_field :content, class: 'form-control', label: false, placeholder: ""
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit "Create", class: "btn btn-default btn-large" 

:coffeescript
  $ ->
    $('#space_content').val("")


