-# todo look at right-col and left-col for these
.container-fluid
  .right-col
    .space_info
      .row
        .col-md-8
          = @space.name
        .col-md-8
          = @space.formatted_address
        .col-md-8
          = @space.contact_name
        .col-md-8
          = @space.contact_number
        .col-md-8
          = @space.contact_email
        .col-md-12
          = link_to 'Edit Description', edit_space_path, class: 'btn btn-primary edit-button'
  .left-col
    .row#map
      .col-md-12#map
        %img.map{src: "https://maps.googleapis.com/maps/api/staticmap?center=#{@space.address},#{@space.city}, #{@space.province_name}&size=640x300&sensor=false&markers=color:red%7Clabel:#{@space.name}%7C#{@space.address},#{@space.city}, #{@space.province_name}"}

  .row
    .col-md-8.col-md-offset-1
      = link_to 'Write New Review', new_space_review_path(space_id: @space.id), class: 'btn btn-primary'

  .row
    .pagination
      - if @paginate
        .col-md-12.col-md-offset-1
          = will_paginate @reviews, renderer: BootstrapPagination::Rails
      - @reviews.each do |review|
        .row
          .col-md-12.col-md-offset-1
            %span
              %h3.review_author= review.created_by_name
              %span.note= review.created_at.strftime('%B %d, %Y')
        .row
          .well.col-md-12.col-md-offset-1
            = review.content
            

    .right-col
      - # TODO events