.container
  .row
    .col-sm-2
      = link_to "Back to #{@space.province_name} Spaces", spaces_path(province: @space.province)
  .row
    .col-md-12
      %h1= @space.name
      - if @alert_text.present?
        .alert.alert-success
          = @alert_text
  .row
    .col-md-7.space-map
      %img.map{src: "https://maps.googleapis.com/maps/api/staticmap?center=#{@space.address},#{@space.city}, #{@space.province_name}&size=350x150&sensor=false&markers=color:red%7Clabel:#{@space.name}%7C#{@space.address},#{@space.city}, #{@space.province_name}"}
      
      .info-box.space-information.row
        .info-bit.col-md-4
          %label Address
          %h4= @space.formatted_address

        .info-bit.col-md-4
          %label Contact number
          %h4= @space.contact_number

        - if @space.website.present?
          .info-bit.col-md-4
            %label Website
            %h4 
              %a.btn.btn-primary.btn-md{href: @space.formatted_website} Visit
      %br

      - if @space.contact_email.present?
        %a.btn.btn-primary.btn-lg.pull-right{:href => contact_space_path(id: @space.id)} Contact space

      %a.btn.btn-primary.btn-lg.pull-right{href: edit_space_path(id: @space.id)} Edit

      %a.btn.btn-primary.btn-lg.pull-right{:href => new_space_event_path(space_id: @space.id)} New Event

      %a.btn.btn-primary.btn-lg.pull-right{:href => new_space_review_path(space_id: @space.id)} New Review

      .row.space-tabs
        .col-md-12
          %ul.nav.nav-tabs{"data-tabs" => "tabs"}
            %li.active
              %a#reviews_tab{"data-toggle" => "tab", href: "#reviews"} Reviews
            %li
              %a#events_tab{"data-toggle" => "tab", href: "#events"} Events
       
          .tab-content
            #reviews.tab-pane.active
              %ul.space-reviews
                - @reviews.each do |review|
                  %li
                    %p= review.content
                    %h5= "by #{review.created_by_name} on #{review.created_at.strftime('%B %d, %Y')}"
              - if @paginate_reviews
                .pagination
                  = will_paginate @reviews, renderer: BootstrapPagination::Rails

            #events.tab-pane
              %ul.space-events
                - @events.each do |event|
                  %li.row
                    .col-md-2.col-sm-4.col-xs-4.date
                      %span= event.takes_place_at.strftime('%B')
                      %h3= event.takes_place_at.day
                      %span= event.takes_place_at.year
                    .col-md-10.col-sm-8.col-xs-8.content
                      %h3= event.name
                      %p= event.content
                  - if @paginate_events
                    .pagination
                      = will_paginate @events, renderer: BootstrapPagination::Rails

    .col-md-3.additional-meta
      %h3 About this space
      - if @space.content.present?
        %p= @space.content
      - else
        %a.btn.btn-primary.btn-lg.pull-right{href: edit_space_path(id: @space.id)} Add a description!


    .col-md-2.space-pictures.hidden-xs.hidden-sm
      / %img{:src => "http://placehold.it/200x180&text=picture"}
      / %img{:src => "http://placehold.it/200x180&text=picture"}
      / %img{:src => "http://placehold.it/200x180&text=picture"}

:coffeescript
  $('#events_tab').click ->
    return if $('#events_tab').hasClass('active')
    $('#reviews').removeClass('active')
    $('#reviews_tab').parent().removeClass('active')
    $('#events').addClass('active')
    $('#events_tab').parent().addClass('active')

  $('#reviews_tab').click ->
    return if $('#reviews_tab').hasClass('active')
    $('#events').removeClass('active')
    $('#events_tab').parent().removeClass('active')
    $('#reviews').addClass('active')
    $('#reviews_tab').parent().addClass('active')
