.form-horizontal
  %h1= "New Review For #{@space.name}"
  %input{type: 'hidden', value: @event.errors.keys.map{|k| "#event_#{k}" }.join(','), id: 'errors'}
  .col-md-12
    = simple_form_for [@space, @event] do |f|
      .col-md-offset-2
        = f.error_notification

      .form-group
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'} Event Name
        .col-sm-6
          = f.text_field :name, class: 'form-control', label: false
      
      .form-group
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'} Info
        .col-sm-6
          = f.input :content, as: :text, label: false

      .form-group
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'} Event Date
        .col-sm-6
          #datepicker{data: {:"date-format" => "dd-mm-yyyy"}}
            %input.form-control
      
      .form-group
        .col-sm-offset-4.col-sm-8
          = f.submit "Create", class: "btn btn-default btn-large btn-primary" 

:coffeescript
  $ ->
    $('#event_content').addClass("form-control")

    all_errors = $('#errors').val()
    console.log all_errors
    unless all_errors == [""]
      for error in all_errors.split(',')
        $(error).parent().parent().addClass('has-error')

    $('#datepicker').datepicker()