.form-horizontal
  .col-md-offset-2
    = link_to "Back to #{@space.name}", space_path(id: @space.id)
  %h1= "New Review For #{@space.name}"
  %input{type: 'hidden', value: @review.errors.keys.map{|k| "#review_#{k}" }.join(','), id: 'errors'}
  .col-md-12
    
    = simple_form_for [@space, @review] do |f|
      .col-md-offset-2
        = f.error_notification

      .form-group
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'} 
          Your Name
          .glyphicon.glyphicon-asterisk
        .col-sm-6
          = f.text_field :created_by_name, class: 'form-control', label: false

      .form-group 
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
          Rating
          .glyphicon.glyphicon-asterisk
        .col-sm-6
          = f.input :rating, collection: (1..5).map{ |i| [i, i] }, class: 'form-control', label: false

      .form-group
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
          Which event did you attend?
        .col-sm-6
          = f.input :event_id, collection: @space.recent_events_as_select, class: 'form-control', label: false

      .form-group.hidden#event_other
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
          What was the other event that you attended?
        .col-sm-6
          = f.text_field :event_other, class: "form-control", label: false

      .form-group
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
          How would you describe the atmosphere of the space?
        .col-sm-6
          = f.text_field :atmosphere, class: "form-control", label: false

      .form-group
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
          How would you descibe the accessibility of the space?
        .col-sm-6
          = f.text_field :accessibility, class: 'form-control', label: false

      .form-group 
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
          Would you attend an event at this space or visit this space again?
        .col-sm-6
          = f.input :would_attend, as: :boolean, class: 'form-control', label: false

      .form-group
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
          Would you book an event at this space?
        .col-sm-6
          = f.input :would_book, as: :boolean, class: 'form-control', label: false

      .form-group
        %label{class: 'col-sm-2 col-sm-offset-2 control-label'} 
          Any other comments?
          .glyphicon.glyphicon-asterisk
        .col-sm-6
          = f.input :content, as: :text, label: false

    
      .form-group
        .col-sm-offset-4.col-sm-8
          = f.submit "Create", class: "btn btn-default btn-large btn-primary" 

:coffeescript
  $('#review_event_id').on "change", ->
    val = $('#review_event_id').find(':selected').val()
    if val == "0"
      $('#event_other').removeClass('hidden')
    else
      $('#event_other').addClass('hidden')

  $ ->
    $('#review_content').addClass("form-control")
    $('#review_rating').addClass("form-control")
    $('#review_event_id').addClass('form-control')

    all_errors = $('#errors').val().split(',')
    for error in all_errors
      $(error).parent().parent().addClass('has-error')


